/* Stratus: menu de energia em 5 blocos (bloquear, suspender, sair, reiniciar, desligar) */

configuration {
    show-icons:     false;
    hide-scrollbar: true;
}

@import "colors.rasi"

window {
    transparency:     "real";
    background-color: @bg;
    border:           1px;
    border-color:     @bd;
    border-radius:    5px;
    width:            600px;
    location:         center;
    anchor:           center;
}

mainbox {
    background-color: @al;
    children:         [ inputbar, listview ];
    padding:          24px;
    spacing:          16px;
}

inputbar {
    background-color: @al;
    children:         [ prompt, textbox-uptime ];
}

prompt {
    background-color: @al;
    text-color:       @fg;
    font:             "Geist SemiBold 15";
}

textbox-uptime {
    background-color: @al;
    text-color:       @fga;
    font:             "VictorMono Nerd Font 10";
    horizontal-align: 1;
    vertical-align:   0.5;
    str:              "";
}

listview {
    background-color: @al;
    columns:          5;
    lines:            1;
    spacing:          8px;
    cycle:            true;
    dynamic:          false;
    fixed-columns:    true;
    layout:           vertical;
}

element {
    background-color: @bga;
    text-color:       @fg;
    border:           1px;
    border-color:     @bd;
    border-radius:    5px;
    padding:          12px 0px;
    orientation:      vertical;
}

element-text {
    background-color: transparent;
    text-color:       inherit;
    horizontal-align: 0.5;
    vertical-align:   0.5;
    font:             "Geist 11";
}

element selected {
    background-color: @se;
    border-color:     @ac;
}

element urgent,
element selected urgent {
    text-color:       @er;
}
